*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body{
	overflow: hidden;
}

p{
	margin-top: 10px;
	font-size: 13px;
	text-align: justify;
}
.container, .book-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 100%;
	height: 100vh;
	background-image: url(/img/Book-Bg.png);
	background-position: center;
	background-size: cover;
}
.book-content{
	width: 100%;
	min-width: 350px;
	max-width: 460px;
	height: 600px;
	position: relative;
	perspective: 1000px;
	transition: 1s;
}
.book{
	position: absolute;
	width: 100%;
	height: 100%;
	transition: 1s;
	transform-style: preserve-3d;
	transform-origin: left; 
}
.face-front, .face-back{
	width: 100%;
	height: 100%;
	padding: 15px;
	border-radius: 4%;
	box-sizing: border-box;
	overflow: hidden;
}
.face-front{
	background: url(/img/First\ page.svg);
	box-shadow: inset 3px 0px 20px -7px black;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.face-back{
	background: url(/img/Second\ page.svg);
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(-1px) rotateY(180deg);
	box-shadow: inset -3px 1px 20px -7px black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
#fcover{
	background: url('/img/Cover.svg');
	position: relative;
	height: 620px;
	width : 500px;
}
#c-back{
	height: 620px;
	width : 480px;
	background: url(/img/Last\ cover.svg);
}
#c-back, #fcover{
	top : -10px;
	background-size: 100% 100%;
}

#inside-front-cover, #inside-back-cover{
	background: url(/img/Left\ cover.png);
	top : -10px;
	left: 2px;
	height: 620px;
	width : 480px;
}

#inside-back-cover{
	position: relative;
	left: -17px;
}

.slide-to-center {
    transform: translateX(calc(100%));
    transition: transform 2s;
}


/* .trnsf{
	transform: translateX(80px);
}
.trnsf-reset{
	transform: translateX(0px);
} */

/* @media */

@media screen and (max-width: 800px){
	p{
		font-size: 12px;
	}
}



