@font-face {
    font-family: 'KindlyRewind';
    src: url('/fonts/Kindly\ Rewind.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KindlyRewind', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.tv{
    background: url(/img/tvBackground.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.onOff {
    position: relative;
    top: 37vh;
    right: -70.2vw;
    background: url(/img/switch.png) center/cover no-repeat;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.onOff:active {
    transform: rotate3d(0, 0, 1, 90deg);
}

.arrow {
    position: absolute;
    background: url(/img/Arrow\ 06.svg);
    background-size: contain;
    background-repeat: no-repeat;
    right: 9vw;
    top: 14vw;
    width: 9vw;
    height: 9vw;
}

/* Screen and Gif */
.fullscreen-image {
    display: none;
    position: fixed;
    top: 0px;
    left: 5vw;
    background: url(/img/TV\ screen.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
}

.fullscreen-image.show {
    opacity: 1;
}

#fullscreen-gif {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#fullscreen-gif.show {
    opacity: 1;
}

#fullscreen-gif img {
    width: 100%;
    height: auto;
}

.Blur{
    filter: blur(20px);
}

.hidechannel{
    display: none;
}

.channel{
    position: relative;
    top: -10px;
    width: 95%;
    height: 90%;
}

#channelNo{
    position: absolute;
    font-size: 35px;
    top: 40px;
    right: 15vw;
}

.question, .question2, .question3, .question4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-left: 80px;
    width: 80%;
}

.question p, .question2 p, .question3 p, .question4 p{
    text-align: left;
    font-size: 45px;
    letter-spacing: 3px;
}

.panelBoard{
    width: 90%;
    display: flex;

}

.answerPanel{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    width: 90%;
}

.otherOption{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.otherOption img{
    width: 35px;
    height: 35px;
}

.otherOption p{
    font-size: 35px;
    margin-left: 20px;
    cursor: pointer;
}

.otherOption p:hover{
    scale: 0.98;
}

.imagePanel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 45px;
}

.image{
    width: 350px;
    height: 300px;
    border: solid black 2px;
    border-radius: 20px;
    cursor: pointer;
}

.image:hover{
    scale: 1.02;
}

#panel1{
    position: absolute;
}

#panel2, #panel3{
    position: absolute;
    display: none;
}

.hidechannel {
    display: none;
}

/* Price button */


#pricePanel{
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceArea{
    margin: 50px 160px 0 0;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.price-control {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#priceDown, #priceUp{
    font-size: 60px;
    font-weight: 700;
    padding: 8px 16px;
    margin: 0 8px;
    padding: 30px 60px;
    border: none;
    cursor: pointer;
    transition: all ease 0.15s;
}

#priceDown:hover, #priceUp:hover{
    scale: 1.02;
}

#priceDown{
    background-color: rgb(227, 84, 84);
    border-radius: 50% 20% 20% 50%;
}

#priceUp{
    margin-left: 40px;
    background-color: rgb(4, 168, 4);
    border-radius: 20% 50% 50% 20%;
}

#priceValue {
    font-size: 60px;
    margin: 0 20px;
    width: 100px;
}

#submitPrice{
    font-size: 35px;
    background-color: royalblue;
    color: white;
    border: solid 2px transparent;
    padding: 20px 50px;
    border-radius: 4%;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s ease;
}

#submitPrice:hover{
    background-color: transparent;
    border: solid 2px white;
    scale: 0.98;
}

/* Channel 3 */
.userInputs{
    margin-top: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 500px;
}

.namePh{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ips{
    border: 5px solid #000000;
    border-radius: 7px;
    padding: 20px 30px;
}

.inp, .bookPanel{
    font-size: 37px;
    color: #000000;
    background: transparent;
    border: none;
    outline: none;
}

input::placeholder {
    color: #000000; 
}

#email, #mail, #nm, #ph{
    width: 80%;
}

#submitDetails{
    display: none;
    font-size: 37px;
    padding: 20px 60px;
    border-radius: 7px;
    border: solid 2px #302F2F;
    color: #FFFFFF;
    background-color: #363535;
    cursor: pointer;
    transition: all 0.15s ease;
}

#submitDetails:hover, #done:hover{
    scale: 0.98;
}

/* qr */

.qrArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    margin-right: 200px;
    margin-top: 80px;
}

.qr{
    width: 400px;
    height: 400px;
    background: url(/img/QR.png);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

#done{
    font-size: 37px;
    padding: 15px 50px;
    border-radius: 7px;
    border: solid 2px #302F2F;
    color: #FFFFFF;
    background-color: #363535;
    cursor: pointer;
    transition: all 0.15s ease;
}

#done:hover{
    scale: 0.98;
}

#option1{
    background: url(/img/option1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#option2{
    background: url(/img/option2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#option3{
    background: url(/img/option3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#option4{
    background: url(/img/option4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#option5{
    background: url(/img/option5.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#option6{
    background: url(/img/option6.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* Options panel  */
#option1{
    background: url(/img/option1.jpg);
    background-size: cover;
}
#option2{
    background: url(/img/option2.jpg);
    background-size: cover;
}
/* #option1{
    background-size: cover;
    background: url(/img/option1.jpg);
}
#option1{
    background-size: cover;
    background: url(/img/option1.jpg);
}
#option1{
    background-size: cover;
    background: url(/img/option1.jpg);
} */


