@font-face {
    font-family: 'caveat';
    src: url('/fonts/caveat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'caveat', sans-serif;
    color: #040404;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    /* background-color: powderblue; */
    background-image: url('./img/Bookbg.png');

}

/* Book */
.book {
    position: relative;
    width: 440px;
    height: 660px;
    transition: transform 0.5s;
}

.bg{
    position: relative;
    width: 500px;
    height: 680px;
    top: 5px;
    /* left: 0; */
    /* right: 0; */
    /* right: 30; */
    transform-origin: left;
    transition: transform 0.5s;
    cursor: pointer;
}

.bg1{
    position: relative;
    width: 500px;
    height: 680px;
    top: 5px;
    /* left: 0; */
    /* right: 0; */
    /* right: 30; */
    transform-origin: left;
    transition: transform 0.5s;
}

.backbg{
    position: relative;
    width: 500px;
    height: 680px;
    top: 7px;
    left: 12px;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 20px;
    box-shadow: none;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    /* background-color:bisque; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 10px;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    /* border-left: 3px solid powderblue; */
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

.nxt ,.prv{
    width: 50px;
    height: 50px;
    color: gray;
}

.nxt{
    margin-left: 50px;
}

.prv{
    margin-right: 50px;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}



.page1{

    position: absolute;
    width: 100%;
    height: 510px;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 10px;
    background-image: url('./img/LEFTpg.png'); 
    background-size: cover; 
    background-position: center;

} 

.form{
    position: relative;
    align-items: center;
    width: 80%;
}

.form h3{
    text-align: center;
    font-size: 50px;
    font-weight: 550;
    line-height: 40px;
}

.form p{
    margin: 20px 0 40px 0;
    text-align: center;
    font-size: 35px;
    line-height: 30px;
}

.textbox{
    text-align: left;
    text-decoration: solid;
    color: maroon;
    font-size: 40px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.textbox::placeholder{
    color: maroon;
}

.textboxCont{
    border: none;
    border-bottom: solid 2px black;
    padding: 0 20px;
}

.submit{
    font-size: 20px;
    font-weight: 600;
    color: darkgreen;
    text-align: center;
    border: solid 2px darkgreen;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 15px;
    transition: all 0.2s ease;
}

.submit:hover{
    scale: 0.98;
    background-color: darkgreen;
    color: white;
}

.finalButCont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#finalSubmit{
    font-size: 30px;
}

/* .hi{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 10px;
} */

/* .page1{
    width: 100%; /* Set the width as per your requirements */
       /* Set the height as per your requirements */
      /* background-color: #f0f0f0; Set a background color as a fallback */
       /* Adjust background position property as needed */
      /* border: 1px solid #ccc; */


      .page2{
        /* background-color:bisque; */
        position: relative;
        width: 440px;
        height: 100% ;
        top: 20px;
        left: 0px;
        bottom: 20;
        transform-origin: left;
        transition: transform 0.5s;
        border-radius: 10px;
        background-image: url('./img/RIGHTpg.png'); 
        background-size: cover; 
        background-position: center;
      }

      .page3{
        /* background-color:bisque; */
        position: absolute;
        width: 100%;
        height: 100%;
        top: 20px;
        left: 10px;
        transform-origin: left;
        transition: transform 0.5s;
        border-radius: 10px;
        background-image: url(/img/RIGHTpg.png); 
        background-size: cover; 
        background-position: center;
      }

      .page4{
        /* background-color:bisque;  */
         position: absolute;
        width: 100%;
        height: 100%;
        top: 20px;
        left: 0px;
        transform-origin: left;
        transition: transform 0.5s;
        border-radius: 10px;
        background-image: url('./img/RIGHTpg.png'); 
        background-size: cover; 
        background-position: center;
      }


      .inactive-button {
        pointer-events: none;
        opacity: 0.5;
    }

/* Letter Codes */

.mainLetterCont{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.letterContainer {
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.letter {
    width: 93.7%;
    height: 100%;
    background: url(/img/Letter.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 20px maroon;
}

.letter h3{
    width: 100%;
    color: #040404;
    display: flex;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}

#personName{
    display: inline;
    font-weight: 500;
}

/* #budget{
    font-weight: 600;
} */

#recommendedArea{
    border: solid 1px maroon;
    width: 100%;
    height: 100%;
    color: #040404;
    font-size: 37px;
    font-weight: 600;
}

/* Letter Button Area  */
.extraArea{
    height: 40%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(/img/Letter.png);
    border: none;
    border-radius: 20%;
    box-shadow: 0 0 10px #040404;
    margin-top: 50px;
}

.extraArea h3{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
}

#toHome{
    font-size: 70px;
    font-weight: 600;
    background-color: maroon;
    color: #fff;
    padding: 10px 20px;
    width: 50%;
    align-self: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 7px #040404;
    transition: all 0.15s ease-in;
}

#toHome:hover{
    scale: 0.98;
    box-shadow: 0 0 9px #040404;
}

#toHome:active{
    scale: 0.96;
    box-shadow: 0 0 11px #040404;
}

@media screen and (max-width: 1281px) {
    body {
        background-size: cover;
    }

    .book{
        scale: 0.83;
        left: -100px;
    }

}


